<ion-header>
  <ion-navbar color="primary">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      All Doctors
    </ion-title>
  </ion-navbar>
  <ion-toolbar color="primary">
    <ion-searchbar (ionInput)="getItems($event)" [showCancelButton]="true"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content id="all-doctors">
  <ion-list class>
    <ion-item *ngFor="let doc of allDoctors">
      <ion-avatar item-left>
        <img src="{{ 'assets/avatars/svg/' + doc.name.slice(0, 1).toUpperCase() + '.svg' }}">
      </ion-avatar>
      <h2>{{ doc.name }}</h2>
      <p>{{ doc.specialization }} - {{ doc.location }}</p>
      <button ion-button clear item-right icon-only  *ngIf="doc.isFriend == 'NOTSENT'" >
      <ion-icon name="md-person-add" ></ion-icon>
      </button>
      <button ion-button clear item-right icon-only *ngIf="doc.isFriend == 'ACCEPTED'" >
      <ion-icon name="md-checkmark-circle-outline"></ion-icon>
      </button>
      <button ion-button clear item-right icon-only *ngIf="doc.isFriend == 'RECEIVED'">
      <ion-icon  name="md-exit"></ion-icon>
    </button>
    </ion-item>
  </ion-list>

  <ion-fab bottom right>
    <button ion-fab color="primary"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
