<ion-header>
  <ion-navbar color="primary">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Recently Added Cases
    </ion-list-header>
    <div *ngFor="let case of myCases;  let i=index" >
    <ion-item *ngIf="i<3" (click)="showCaseDetail(case)">
      <h2>{{case.caseIdentifier}}</h2>
      <p>{{ case.created_at }}</p>
      <button ion-button clear item-right icon-only>
      <ion-icon name="md-share" ></ion-icon>
      </button>
    </ion-item>
</div>
  </ion-list>

  <ion-list>
    <ion-list-header>
      Recently Received Cases
    </ion-list-header>
    <div *ngFor="let case of receivedCases;  let i=index">
    <ion-item  *ngIf="i<3" (click)="showCaseDetail(case)">
      <ion-avatar item-left>
        <img src="{{ 'assets/avatars/svg/' + case.user.name.slice(0, 1).toUpperCase() + '.svg' }}">
      </ion-avatar>
      <h2>{{ case.user.name }}</h2>
      <h3>{{ case.user.specialization }} - {{ case.user.location }}</h3>
      <p>{{case.caseIdentifier}}</p>
      <p>{{case.created_at}}</p>
    </ion-item>
    </div>
  </ion-list>
  <ion-fab bottom right>
    <button ion-fab color="primary"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
